:root {
  --clr-primary-red: hsl(1, 90%, 64%);
  --clr-primary-blue: hsl(219, 85%, 26%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(210, 60%, 98%);
  --clr-neutral-300: hsl(211, 68%, 94%);
  --clr-neutral-400: hsl(205, 33%, 90%);
  --clr-neutral-500: hsl(219, 14%, 63%);
  --clr-neutral-600: hsl(219, 12%, 42%);
  --clr-neutral-700: hsl(224, 21%, 14%);

  --fs-100: 0.9375rem;
  --fs-200: 1.125rem;

  --fw-500: 500;
  --fw-800: 800;
}

@media (max-width: 50em) {
  :root {
    --fs-100: 0.875rem;
    --fs-200: 1rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: var(--fs-100);
  font-weight: var(--fw-500);
  color: var(--clr-neutral-600);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility classes */

.bg-clr-primary-red {
  background-color: var(--clr-primary-red);
}
.clr-primary-blue {
  color: var(--clr-primary-blue);
}

.bg-clr-primary-blue {
  background-color: var(--clr-primary-blue);
}

.clr-neutral-100 {
  color: var(--clr-neutral-100);
}

.bg-clr-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.clr-neutral-200 {
  background-color: var(--clr-neutral-200);
}
.clr-neutral-300 {
  background-color: var(--clr-neutral-300);
}
.clr-neutral-400 {
  background-color: var(--clr-neutral-400);
}
.clr-neutral-400 {
  color: var(--clr-neutral-400);
}
.clr-neutral-500 {
  color: var(--clr-neutral-500);
}
.clr-neutral-600 {
  color: var(--clr-neutral-600);
}
.clr-neutral-700 {
  color: var(--clr-neutral-700);
}

.fs-100 {
  font-size: var(--fs-100);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fw-500 {
  font-weight: var(--fw-500);
}
.fw-800 {
  font-weight: var(--fw-800);
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* general styling */

main {
  /* max-width: 1340px;
  margin: auto; */
  height: 100%;
  display: flex;
  align-items: center;
}

.container {
  max-width: 720px;
  margin: auto;
  padding: 0.5rem 2rem 0.2rem 2rem;
  border-radius: 15px;
}

header {
  justify-content: space-between;
  padding: 1.5rem 0 1rem 0;
}

.nav {
  gap: 0.5rem;
  align-items: flex-start;
}

.quantity {
  padding: 0 0.6rem;
  border-radius: 5px;
}

.mark-read {
  cursor: pointer;
}

.user {
  font-weight: var(--fw-800);
  color: var(--clr-neutral-700);
}

.message-time {
  color: var(--clr-neutral-500);
}

.notification {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  align-items: flex-start;
  cursor: pointer;
}

/* :where(article .notification :not(:first-of-type)) {
  margin-top: 0.7rem;
} */

.notification img {
  max-width: 3rem;
  max-height: 3rem;
}

.private-message {
  align-items: flex-start;
}

.message-content {
  margin-top: 0.5rem;
  padding: 1rem;
  border: 0.1px solid var(--clr-neutral-500);
  border-radius: 5px;
}

.picture-notification {
  justify-content: space-between;
  align-items: center;
}

.group {
  color: var(--clr-primary-blue);
  font-weight: var(--fw-800);
}

.notification[data-type="unread"] {
  background-color: var(--clr-neutral-200);
  border-radius: 10px;
  padding: 1rem;
}

.notification[data-type="unread"] .note-content p::after {
  content: url(assets/images/red-note.png);
  margin-left: 0.5rem;
}

@media (max-width: 50em) {
  .container {
    padding: 0.5rem 0.7rem 0.2rem 0.7rem;
  }

  header {
    padding: 1rem 0 0.5rem 0;
  }

  .notification,
  .picture-notification div:first-of-type {
    align-items: flex-start;
  }

  .notification img {
    max-width: 2.5rem;
    max-height: 2.5rem;
  }
}
